body {
	font-family: sans-serif;
	line-height: 1.2;
	margin: 8px;
	padding: 0;
}

.timer {
	filter: grayscale(1);
	background: green;
	box-sizing: border-box;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(50vh - 12px);
	transition: filter 100ms;
}
.timer + .timer {
	margin-top: 8px;
}
.is-playing {
	filter: grayscale(0);
}
.warning {
	background: #fee101;
	color: black;
}
.stop {
	background: red;
	color: white;
}

.time {
	font-size: 4vh;
	transition: font-size 250ms;
}
.time:hover {
	cursor: pointer;
}
.focus {
	font-size: 20vh;
}
.focus:hover {
	background: none;
}

.label {
	font-size: 2.5vh;
	letter-spacing: .1em;
	text-transform: uppercase;
	font-weight: bold;
	color: rgba(255,255,255,.5);
}
.warning .label {
	color: rgba(0,0,0,.25);
}
