body {
	background: green;
	color: white;
	font-family: sans-serif;
	line-height: 1.2;
	margin-top: 5vh;
	text-align: center;
}
body.warning {
	background: #fee101;
	color: black;
}
body.stop {
	background: red;
	color: white;
}

.time {
	font-size: 5vh;
	transition: font-size 250ms;
}
.time:hover {
	cursor: pointer;
}
.focus {
	font-size: 50vh;
}
.focus:hover {
	background: none;
}

#label {
	font-size: 3vh;
	letter-spacing: .1em;
	text-transform: uppercase;
	font-weight: bold;
	color: rgba(255,255,255,.5);
}
.warning #label {
	color: rgba(0,0,0,.25);
}